name: imageuplaod
description: A new Flutter application.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  image_picker: ^0.8.4+4
  material_design_icons_flutter: ^5.0.6595
  path: ^1.8.0
  mime: ^1.0.0
  http: ^0.13.3
  cupertino_icons: ^1.0.2
  progress_dialog_null_safe: ^1.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/images/
